body{
  background-color: gray;  /*Forma en que se acomodan los componentes*/
}
.Cabecera{
  background-color: rgb(3, 3, 83); /*Definir un color de fondo */  
  align-items: center;/*Alinear los objetos en el eje y*/  
  align-items:flex-start;
  
}
header{
  display: inherit; /*Se hereda */  
}

ol{
  justify-content: center; /*alinear los objetos*/  
}
.Cabecera header .ol.a{ 
  color: azure; /*Definir el color en el texto*/  
  text-decoration: none; /*Quitar las decoraciones subrayado */  
  margin-right: 2%;
}
h1{
  display: flex;
  justify-content: center;
}
.Hero{
  font-size: 30px;
  background-image: url("../img/PORTADA.jpg");
}
